{{ cli_prepend_str }}
!
{% include 'base.j2' %}
{% include 'access-base.j2' %}
{% include 'access-vlan.j2' %}
{% include 'access-mlag.j2' %}
{% include 'access-interfaces.j2' %}
!
{{ cli_append_str }}
