
{% for radius_server in radius_servers %}
radius-server host {{ radius_server.host }} key 7 {{ TEMPLATE_SECRET_RADIUS }}
{% endfor %}
!
aaa group server radius cnaas-nac
{% for radius_server in radius_servers %}
  server {{ radius_server.host }}
{% endfor %}
!
aaa authentication dot1x default group cnaas-nac
dot1x system-auth-control
!
management api http-commands
 no shutdown
!
snmp-server community public ro
!
vlan {{ mgmt_vlan_id }}
interface vlan {{ mgmt_vlan_id }}
 no shutdown
 ip address {{ mgmt_ipif }}
!
ip route 0.0.0.0 0.0.0.0 {{ mgmt_gw }}
!
{% for ntp_server in ntp_servers %}
ntp server {{ ntp_server.host }}
{% endfor %}
!
queue-monitor length
!
{% for syslog_server in syslog_servers %}
logging host {{ syslog_server.host }}
{% endfor %}
!
ip access-list standard snmp-clients
{% for snmp_server in snmp_servers %}
permit host {{ snmp_server.host }}
{% endfor %}
!
{% set dns_servers_cli = dns_servers|map(attribute="host")|join(' ') %}
{% if dns_servers_cli %}
ip name-server {{ dns_servers_cli }}
{% endif %}
errdisable recovery cause bpduguard
errdisable recovery cause hitless-reload-down
errdisable recovery cause lacp-rate-limit
errdisable recovery cause link-flap
errdisable recovery cause no-internal-vlan
errdisable recovery cause portchannelguard
errdisable recovery cause portsec
errdisable recovery cause speed-misconfigured
errdisable recovery cause stuck-queue
errdisable recovery cause uplink-failure-detection
errdisable recovery cause xcvr-misconfigured
errdisable recovery cause xcvr-overheat
errdisable recovery cause xcvr-power-unsupported
errdisable recovery cause xcvr-unsupported
!
{{ cli_append_str }}
