{% for mgmtdom in mgmtdomains %}
vlan {{ mgmtdom.vlan }}
 name mgmtdom-{{ mgmtdom.vlan }}
{% endfor %}
!
{% for vxlan_name, vxlan_data in vxlans.items() %}
vlan {{ vxlan_data.vlan_id }}
 name {{ vxlan_name }}
{% endfor %}

