router bgp {{ asn }}
 router-id {{ infra_ip }}
 no bgp default ipv4-unicast
 maximum-paths 2
 update wait-install
 {% for nei in bgp_ipv4_peers %}
 neighbor {{ nei.peer_ip }} remote-as {{ nei.peer_asn }}
 neighbor {{ nei.peer_ip }} description {{ nei.peer_hostname }}
 {% endfor %}
 {% for nei in bgp_evpn_peers %}
 neighbor {{ nei.peer_infra_lo }} remote-as {{ nei.peer_asn }}
 neighbor {{ nei.peer_infra_lo }} description {{ nei.peer_hostname }}
 neighbor {{ nei.peer_infra_lo }} update-source Loopback0
 neighbor {{ nei.peer_infra_lo }} ebgp-multihop 3
 neighbor {{ nei.peer_infra_lo }} send-community
 neighbor {{ nei.peer_infra_lo }} bfd
 neighbor {{ nei.peer_infra_lo }} maximum-routes 0
 {% endfor %}
!
 address-family ipv4
   {% for nei in bgp_ipv4_peers %}
   neighbor {{ nei.peer_ip }} activate
   {% endfor %}
   network {{ infra_ipif }}
 !
 address-family evpn
   {% for nei in bgp_evpn_peers %}
   neighbor {{ nei.peer_infra_lo }} activate
   neighbor {{ nei.peer_infra_lo }} next-hop-unchanged
   {% endfor %}
 !
  {% for vxlan_name, vxlan_data in vxlans.items() %}
  vlan {{ vxlan_data.vlan_id }}
  rd {{ infra_ip }}:{{ vxlan_data.vlan_id }}
  route-target both 1:{{ vxlan_data.vlan_id }}
  redistribute learned
  {% endfor %}
!
  {% for mgmtdom in mgmtdomains %}
  vlan {{ mgmtdom.vlan }}
  rd {{ infra_ip }}:{{ mgmtdom.vlan }}
  route-target both 1:{{ mgmtdom.vlan }}
  redistribute learned
  {% endfor %}
!
  {% for vrf in vrfs %}
  vrf {{ vrf.name }}
  rd {{ infra_ip }}:{{ vrf.vrf_id }}
  route-target export evpn 2:{{ vrf.vrf_id }}
  route-target import evpn 2:{{ vrf.vrf_id }}
  redistribute connected
  redistribute static

{# BGP inside VRF #}
   {% if (extroute_bgp is defined) and extroute_bgp %}
    {% if (extroute_bgp.vrfs | selectattr("name", "equalto", vrf.name) | list | length) == 1 %}
     {% set bgp_vrf = extroute_bgp.vrfs | selectattr("name", "equalto", vrf.name) | first %}
     local-as {{ bgp_vrf.local_as }}
     {% for nei in bgp_vrf.neighbor_v4 %}
      neighbor {{ nei.peer_ipv4 }} remote-as {{ nei.peer_as }}
      neighbor {{ nei.peer_ipv4 }} route-map {{ nei.route_map_in }} in
      neighbor {{ nei.peer_ipv4 }} route-map {{ nei.route_map_out }} out
      neighbor {{ nei.peer_ipv4 }} maximum-routes 12000
      neighbor {{ nei.peer_ipv4 }} description {{ nei.description }}
      address-family ipv4
        neighbor {{ nei.peer_ipv4 }} activate
     {% endfor %}
    {% endif %}
   {% endif %}
{# BGP inside VRF slut #}

  {% endfor %}
