{% extends "managed-full-vrf.j2" %}
{% block interfaces %}
ip routing
ip routing vrf MGMT
{% for vrf in vrfs %}
vrf instance {{ vrf.name }}
{% endfor %}
{% for intf in interfaces %}
interface {{ intf.name }}
{% if intf.ifclass == 'downlink' %}
 {% if (intf.data is defined) and intf.data %}
  {% if (intf.data.description is defined) and intf.data.description %}
 description {{ intf.data.description }}
  {% else %}
 description DOWNLINK
  {% endif %}
 {% endif %}
 switchport
 switchport mode trunk
 channel-group {{ intf.indexnum }} mode active
interface Port-channel {{ intf.indexnum }}
 description DOWNLINK
 port-channel lacp fallback individual
 port-channel lacp fallback timeout 3
{% elif intf.ifclass == 'fabric' %}
 description {{ intf.peer_hostname }}
 no switchport
 ip address {{ intf.ipv4if }}
{% elif intf.ifclass == 'custom' %}
 {{ intf.config }}
{% endif %}
{% endfor %}
{% for mgmtdom in mgmtdomains %}
vlan {{ mgmtdom.vlan }}
interface Vlan{{ mgmtdom.vlan }}
 vrf MGMT
 ip address {{ mgmtdom.ipv4_gw }}
{% endfor %}
interface Vlan1
 description ZTP DHCP
 vrf MGMT
 ip address 192.168.0.1/24
 ip helper-address 10.100.2.2
 no shutdown
 {% for vxlan_name, vxlan_data in vxlans.items() %}
vlan {{ vxlan_data.vlan_id }}
 name {{ vxlan_name }}
  {% if (vxlan_data.ipv4_gw is defined) and vxlan_data.ipv4_gw %}
interface Vlan{{ vxlan_data.vlan_id }}
 vrf {{ vxlan_data.vrf }}
 description {{ vxlan_name }}
 ip address virtual {{ vxlan_data.ipv4_gw }}
   {% if (vxlan_data.dhcp_relays is defined) and vxlan_data.dhcp_relays is sequence %}
    {% for dhcp_relay in vxlan_data.dhcp_relays %}
 ip helper-address {{ dhcp_relay.host }}
    {% endfor %}
   {% elif (dhcp_relays is defined) and dhcp_relays is sequence %}
    {% for dhcp_relay in dhcp_relays %}
 ip helper-address {{ dhcp_relay.host }}
    {% endfor %}
   {% endif %}
   {% if (vxlan_data.mtu is defined) and vxlan_data.mtu %}
 mtu {{ vxlan_data.mtu }}
   {% endif %} 
  {% endif %}
 {% endfor %}
{% endblock %}
{% block routing %}
service routing protocols model multi-agent
{% for vrf in vrfs %}
ip routing vrf {{ vrf.name }}
ipv6 unicast-routing vrf {{ vrf.name }}
{% endfor %}
{% if (extroute_static is defined) and extroute_static %}
 {% for vrf in extroute_static.vrfs %}
  {% if (vrf.ipv4 is defined) and vrf.ipv4 %}
   {% for ipv4_route in vrf.ipv4 %}
    {% if (ipv4_route.interface is defined) and ipv4_route.interface %}
 ip route vrf {{ vrf.name }} {{ ipv4_route.destination }} {{ipv4_route.interface }} {{ ipv4_route.nexthop }} name {{ ipv4_route.name }} {{ ipv4_route.cli_append_str }}
    {% else %}
 ip route vrf {{ vrf.name }} {{ ipv4_route.destination }} {{ ipv4_route.nexthop }} name {{ ipv4_route.name }} {{ ipv4_route.cli_append_str }}
    {% endif %}
   {% endfor %}
  {% endif %}
  {% if (vrf.ipv6 is defined) and vrf.ipv6 %}
   {% for ipv6_route in vrf.ipv6 %}
    {% if (ipv6_route.interface is defined) and ipv6_route.interface %}
 ipv6 route vrf {{ vrf.name }} {{ ipv6_route.destination }} {{ ipv6_route.interface }} {{ ipv6_route.nexthop }} name {{ ipv6_route.name }} {{ ipv6_route.cli_append_str }}
    {% else %}
 ipv6 route vrf {{ vrf.name }} {{ ipv6_route.destination }} {{ ipv6_route.nexthop }} name {{ ipv6_route.name }} {{ ipv6_route.cli_append_str }}
    {% endif %}
   {% endfor %}
  {% endif %}
 {% endfor %}
{% endif %}
{% if (extroute_ospfv3 is defined) and extroute_ospfv3 %}
 {% for vrf in extroute_ospfv3.vrfs %}
router ospfv3 vrf {{ vrf.name }}
 router-id {{ infra_ip }}
 passive-interface default
 address-family ipv4
  {% if (vrf.ipv4_redist_routefilter is defined) and vrf.ipv4_redist_routefilter %}
  redistribute bgp route-map {{ vrf.ipv4_redist_routefilter }}
  {% endif %}
 address-family ipv6
  {% if (vrf.ipv6_redist_routefilter is defined) and vrf.ipv6_redist_routefilter %}
  redistribute bgp route-map {{ vrf.ipv6_redist_routefilter }}
  {% endif %}
 {% endfor %}
{% endif %}
router bgp {{ asn }}
 router-id {{ infra_ip }}
 no bgp default ipv4-unicast
 {% for nei in bgp_ipv4_peers %}
 neighbor {{ nei.peer_ip }} remote-as {{ nei.peer_asn }}
 neighbor {{ nei.peer_ip }} description {{ nei.peer_hostname }}
 {% endfor %}
 {% for nei in bgp_evpn_peers %}
 neighbor {{ nei.peer_infra_lo }} remote-as {{ nei.peer_asn }}
 neighbor {{ nei.peer_infra_lo }} description {{ nei.peer_hostname }}
 neighbor {{ nei.peer_infra_lo }} update-source Loopback0
 {% endfor %}
 address-family ipv4
   {% for nei in bgp_ipv4_peers %}
   neighbor {{ nei.peer_ip }} activate
   {% endfor %}
   network {{ infra_ipif }}
 !
 address-family evpn
   {% for nei in bgp_evpn_peers %}
   neighbor {{ nei.peer_infra_lo }} activate
   neighbor {{ nei.peer_infra_lo }} next-hop-unchanged
   {% endfor %}
 !
{% endblock %}
