hostname {{ host }}
vrf instance MGMT
service unsupported-transceiver {{ TEMPLATE_SECRET_TRANSCEIVER }}
management api http-commands                                                                                                                
 no shutdown
 vrf MGMT
  no shutdown
aaa authorization exec default local
aaa authorization commands all default local
username admin privilege 15 role network-admin secret sha512 {{ TEMPLATE_SECRET_ADMIN_HASH }} 
snmp-server community public ro snmp-clients
snmp-server vrf MGMT
ip http client local-interface loopback1 vrf MGMT
{% block interfaces %}
{% endblock %}
interface Loopback0
 no shutdown
 ip address {{ infra_ipif }}
interface Loopback1
 vrf MGMT
 no shutdown
 ip address {{ mgmt_ipif }}
{% block routing %}
{% endblock %}
{% for ntp_server in ntp_servers %}
ntp server vrf MGMT {{ ntp_server.host }}
{% endfor %}
{% for syslog_server in syslog_servers %}
logging vrf MGMT host {{ syslog_server.host }}
{% endfor %}
ip access-list standard snmp-clients
{% for snmp_server in snmp_servers %}
permit host {{ snmp_server.host }}
{% endfor %}
