hostname {{ host }}
service unsupported-transceiver {{ TEMPLATE_SECRET_TRANSCEIVER }}
management api http-commands
 no shutdown
!
aaa authorization exec default local
aaa authorization commands all default local
username admin privilege 15 role network-admin secret sha512 {{ TEMPLATE_SECRET_ADMIN_HASH }}
!
snmp-server community public ro snmp-clients
!
{% block interfaces %}
{% endblock %}
!
vlan {{ mgmt_vlan_id }}
 name SW_MGMT
interface vlan {{ mgmt_vlan_id }}
 no shutdown
 ip address {{ mgmt_ipif }}
ip route 0.0.0.0 0.0.0.0 {{ mgmt_gw }}
!
{% for ntp_server in ntp_servers %}
ntp server {{ ntp_server.host }}
{% endfor %}
!
{% for syslog_server in syslog_servers %}
logging host {{ syslog_server.host }}
{% endfor %}
!
ip access-list standard snmp-clients
{% for snmp_server in snmp_servers %}
permit host {{ snmp_server.host }}
{% endfor %}
!
{% if (cli_append_str is defined) and cli_append_str %}
 ! comment This part is device specific cli commands from cli_append_str
 {{cli_append_str}}
{% endif %}
