{% if (radius_servers is defined) and radius_servers %}
access {
    {% for server in radius_servers %}
    profile NAC-802-1x {
        authentication-order radius;
        radius accounting-server {{ server.host }};
        radius authentication-server {{ server.host }};
        accounting order radius;
    }
    radius-server {{ server.host }} secret testing123;
    {% endfor %}
}

protocols {
    dot1x {
        authenticator {
            authentication-profile-name NAC-802-1x;
            no-mac-table-binding;
            interface EDGE {
                authentication-order [ dot1x mac-radius ];
                supplicant multiple;
                retries 3;
                transmit-period 2;
                mac-radius;
                no-reauthentication;
                supplicant-timeout 10;
                server-fail deny;
            }
        }
    }
}

system {
    radius-options {
        attributes nas-ip-address {{ mgmt_ipif.split("/")[0] }};
    }
}

{% endif %}


interfaces {
    interface-range EDGE {
        mtu 9000;
        unit 0 {
            family ethernet-switching {
                interface-mode access;
            }
        }
    }
}
