version {{ device_os_version }};
system {
    login {
        user admin {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "{{ TEMPLATE_SECRET_ADMIN_HASH }}"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "{{ TEMPLATE_SECRET_ADMIN_HASH }}"; ## SECRET-DATA
    }
    services {
        ssh {
            root-login deny-password;
            protocol-version v2;
        }
        netconf {
            ssh;
        }
    }
    host-name {{ host }};
    auto-snapshot;
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    processes {
        dhcp-service {
            traceoptions {
                file dhcp_logfile size 10m;
                level all;
                flag all;
            }
        }
    }
    ntp {
{% for ntp_server in ntp_servers %}
        server {{ ntp_server.host }};
{% endfor %}
    }
}
protocols {
    lldp {
        interface all;
    }
    lldp-med {
        interface all;
    }
    igmp-snooping {
        vlan default;
    }
    rstp {
        disable;
    }

}
