chassis {
 aggregated-devices {
  ethernet {
   device-count 40;
  }
 }
}
{% for intf in interfaces %}
{% if intf.ifclass == 'downlink' %}
 interfaces {{ intf.name }} {
  {% if (intf.data is defined) and intf.data %}
   {% if (intf.data.description is defined) and intf.data.description %}
    description {{ intf.data.description }};
   {% else %}
    description DOWNLINK;
   {% endif %}
  {% else %}
   description DOWNLINK;
  {% endif %}
 {# Juniper port-channel numbering, use indexnum - 1 and no values higher than 1999 (meaning Ethernet1 = Port-channel1) #}
  {% set po_num = (intf.indexnum-1)%2000 %}
  ether-options 802.3ad ae{{ po_num }};
 }
 interfaces ae{{ po_num }} {
  {% if (intf.data is defined) and intf.data %}
   {% if (intf.data.description is defined) and intf.data.description %}
    description {{ intf.data.description }};
   {% else %}
    description DOWNLINK;
   {% endif %}
  {% else %}
  description DOWNLINK;
 {% endif %}
 
 esi {
   00:00:00:00:00:01:00:00:00:{{ "%02x" % intf.indexnum }};
   {# 00:00:00:00:00:01:00:00:{{ "%02x" % mgmtdomains[0].id }}:{{ "%02x" % intf.indexnum }}; #}
   all-active;
  }
 aggregated-ether-options {
  lacp {
   active;
   periodic fast;
   system-id 00:01:00:00:00:{{ "%02x" % intf.indexnum }};
   {#system-id 00:01:00:00:{{ "%02x" % mgmtdomains[0].id }}:{{ "%02x" % intf.indexnum }};#}
  }
 }
  unit 0 {
   family ethernet-switching {
    interface-mode trunk;
    vlan {
     members MGMT;
    }
    storm-control STORM-CONTROL;
   }
 }
}

 {% elif intf.ifclass == 'fabric' %}
  {% if intf.ipv4if is defined and intf.ipv4if %}
   interfaces {{ intf.name }} {
    description {{ intf.peer_hostname }};
    mtu 9192;
    unit 0 {
     family inet {
      address {{ intf.ipv4if }};
      }
     }
   } 
  {% endif %}
 {% elif intf.ifclass == 'custom' %}
   interfaces {{ intf.name }} {
    {{ intf.config }}
   }
 {% endif %}
{% endfor %}


{% for vxlan_name, vxlan_data in vxlans.items() %}
    irb {
  {% if (vxlan_data.ipv4_gw is defined) and vxlan_data.ipv4_gw %}
        unit {{ vxlan_data.vlan_id }} {
            virtual-gateway-accept-data;
            family inet {
                address {{ vxlan_data.ipv4_gw|increment_ip(gateway_ip_increment) }} {
                    virtual-gateway-address {{ vxlan_data.ipv4_gw.split('/')[0] }};
                }
            }
        }
  {% endif %}
    }
  {% endfor %}
    lo0 {
        unit 0 {
            family inet {
                address {{ infra_ipif }};
            }
        }
    }
}
