{% include 'base.j2' %}

{% include 'management/mgmt-config-fabric.j2' %}

{% include 'management/mgmt-external-conn.j2' %}

{% include 'management/mgmt-config-dist-vlans.j2' %}

{% include 'fabric/fabric-vrf-dist.j2' %}

{% include 'fabric/fabric-base-dist.j2' %}

{% include 'fabric/fabric-base-bgp.j2' %}

{% include 'dist-interfaces.j2' %}

{% include 'dist-bgp.j2' %}
