protocols {
    bgp {
        group evpn-overlay {
        {# Configure the core as a Route-reflector #}
            cluster 192.168.0.1;
        }
    }
}
routing-options {
    nonstop-routing;
}

chassis {
    redundancy {
        graceful-switchover;
    }
}

system {
    commit synchronize;
}