{% if infra_ip == "10.3.0.3" %}
 {% set gateway_ip_increment = 1 %}
{% elif infra_ip == "10.3.0.4" %}
 {% set gateway_ip_increment = 2 %}
{% else %}
 {% set gateway_ip_increment = 0 %}
{% endif %}

{% for mgmtdom in mgmtdomains %}
interfaces {
    irb { 
        unit {{ mgmtdom.vlan }} {
            virtual-gateway-v4-mac 00:00:5e:00:00:04;
            family inet {
                address {{ mgmtdom.ipv4_gw.split("/")[0]|increment_ip(gateway_ip_increment) }}/{{ mgmtdom.ipv4_gw.split("/")[1] }} {
                    preferred;
                    virtual-gateway-address {{ mgmtdom.ipv4_gw.split("/")[0] }};
                }
            }
        }
    }
}
vlans {
    MGMT-DOMAIN-{{ mgmtdom.id }} {
        vlan-id {{ mgmtdom.vlan }};
        l3-interface irb.{{ mgmtdom.vlan }};
        vxlan {
            vni {{ mgmtdom.vlan }};
        }
    }
}

routing-instances {
    MGMT {
        interface irb.{{ mgmtdom.vlan }};
    }
}
{% endfor %}
