routing-instances {
    VS {
        instance-type virtual-switch;
        protocols {
            evpn {
                encapsulation vxlan;
                default-gateway no-gateway-community;
                extended-vni-list all;
                multicast-mode ingress-replication;
            }
        }
        vtep-source-interface lo0.0;
        route-distinguisher {{ infra_ip }}:10000;
        vrf-target {
            target:{{ asn }}L:10000;
            auto;
        }
        vlans {
            MGMT {
                l3-interface irb.2;
                vlan-id 2;
                vxlan {
                    vni 2;
                }
            }
        }
    }
}